@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Karla&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Karla", sans-serif;
}

@layer utilities {
  .translate-50-50 {
    transform: translate(-50%, -50%);
  }
}

body {
  background-color: #050816;
}

.container {
  perspective: 1000px;
}

.seat {
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.screen {
  background-color: #fff;
  height: 90px;
  width: 100%;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.text-shadow {
  text-shadow: 1px 1px black;
}

#table_users tr:nth-child(even){background-color: #f2f2f2;}

#table_users tr:hover {background-color: #ddd;}

#table_users td, #table_users th{
  padding: 1rem;
}

#table_users th {
  text-align: left;
  background-color: rgb(218 202 136);
}

button:disabled {
  opacity: 0.5;
}

div:disabled {
  background-color: red;
}