.play-button {
    /* width: 6rem; */
    /* height: auto; */
    position: relative;
    /* top: -10%; */
    fill: #DACA88;
}

.play-button:hover {
    transform: scale(1.4);
    transition: transform 0.3s, height 0.3s, fill 0.3s;
    fill: #ffffff;
}

.close-button-container {
    background-color: transparent;
}

.close-button {
    fill: #DACA88;
}

.close-button:hover {
    transform: scale(1.4);
    transition: transform 0.3s, color 0.3s;
    fill: #ffffff;
}